body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: grey;
}
#image-3d {
  background-color: grey;
  border: 1px solid black;
  width: 320px;
  height: 200px;
}
#image-preview {
  position: absolute;
  right: 10px;
  top: 45px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
#texture-preview {
  background-color: grey;
  border: 1px solid black;
  width: 64px;
  height: 64px;
}
#horizontal-downsampling, #vertical-downsampling {
  color: red;
  padding-left: 8px;
}
.group {
  border: 2px solid black;
  padding: 3px;
  margin: 3px;
  border-radius: 5px;
  background-color: lightgray;
}
.group .group {
  background-color: darkgray;
}
.group-title {
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  column-gap: 10px;
}
.group .group .group-title {
  background-color: lightgray;
}
.scaler-input {
  width: 45px;
}
.degree-input {
  width: 60px;
}
.children-disabled {
  pointer-events: none;
  opacity: 0.5;
}
.last-item-right {
  align-self: center;
  margin-right: 3px;
  flex-grow: 3;
  text-align: right;
}
#vertex-color {
  width: 8px;
  height: 8px;
  border: 1px solid black;
  display: inline-block;
  max-width: 8px;
  min-width: 8px;
}